

.app-errorMessageContainer {
    position: absolute;
    bottom: @defaultPadding;
    left: @defaultPadding;
    right: @defaultPadding;

    .sapMMsgStrip {
        margin-bottom: @lineSpacing;
    }
}