

.sapMList {
    border: 1px solid @borderGrey;

    .sapMListShowSeparatorsAll {
        .sapMLIBShowSeparator:first-child>td {
            border-top: none;
        }

        .sapMLIBShowSeparator:last-child>td {
            border-bottom: none;
        }
    }

    .sapMListTblHeader {
        .sapMListTblHeaderCell {
            position: sticky;
            top: calc(64px + @defaultPadding);
            z-index: 10;
        }
    }

    .sapMListItems {
        .sapMListTblCell {
            padding-top: @smallerPadding !important;
            padding-bottom: @smallerPadding !important;
        }

        .sapMListTblRow {
            &:not(.sapMLIBActive) {
                .kellojoM-lightLabel {
                    color: @labelGrey;
                }
            }
        }
    }
}