.kellojoM-divider {
  width: 100%;
  height: 1rem;
  background-color: #f7f7f7;
}
.kellojoM-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: #f7f7f7;
}
.kellojoM-page .kellojoM-page-header {
  flex-grow: 0;
  flex-shrink: 0;
  position: sticky;
  top: 0px;
  z-index: 10;
  padding: 1rem 2rem;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
}
.kellojoM-page .kellojoM-page-header > div {
  flex-grow: 1;
  max-width: 33%;
}
.kellojoM-page .kellojoM-page-header .kellojoM-page-header-mainAction,
.kellojoM-page .kellojoM-page-header .kellojoM-page-header-Actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.kellojoM-page .kellojoM-page-header .kellojoM-page-header-mainAction {
  justify-content: center;
}
.kellojoM-page .kellojoM-page-header .kellojoM-page-header-mainAction .sapMSF {
  max-width: 20rem;
}
.kellojoM-page .kellojoM-page-header .kellojoM-page-header-title {
  display: flex;
  flex-direction: column;
}
.kellojoM-page .kellojoM-page-header .kellojoM-page-header-title .kellojoM-page-header-title-text {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}
.kellojoM-page .kellojoM-page-content {
  flex-grow: 1;
  padding: 1rem 2rem;
}
.kellojoM-rolesDisplay {
  display: flex;
  flex-direction: column;
}
.kellojoM-sectionHeader {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #e5e5e5;
}
.kellojoM-tableActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.kellojoM-tableActions .kellojoM-tableActions-left,
.kellojoM-tableActions .kellojoM-tableActions-righ {
  display: flex;
  justify-content: center;
  align-items: center;
}
.kellojoM-DialogPageContent {
  padding: 1rem;
}
.sapMList {
  border: 1px solid #e5e5e5;
}
.sapMList .sapMListShowSeparatorsAll .sapMLIBShowSeparator:first-child > td {
  border-top: none;
}
.sapMList .sapMListShowSeparatorsAll .sapMLIBShowSeparator:last-child > td {
  border-bottom: none;
}
.sapMList .sapMListTblHeader .sapMListTblHeaderCell {
  position: sticky;
  top: calc(64px + 1rem);
  z-index: 10;
}
.sapMList .sapMListItems .sapMListTblCell {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}
.sapMList .sapMListItems .sapMListTblRow:not(.sapMLIBActive) .kellojoM-lightLabel {
  color: #6a6d70;
}
